<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPWebClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FTPWebClient.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>blaunius</value>
            </setting>
            <setting name="PW" serializeAs="String">
                <value>1*Co1311</value>
            </setting>
            <setting name="NotFoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpUploadFolder" serializeAs="String">
                <value>/httpdocs</value>
            </setting>
        </FTPWebClient.Properties.Settings>
    </userSettings>
</configuration>